@import nib
	
.wraper
	white-space nowrap
	overflow hidden
	// display table
	font-size 0
	.search
	.player
		font-size 1rem
		white-space normal
		display inline-block
		vertical-align top
		width 100%
		transition all 0.5s
		overflow auto
		transform translate(-100%, 0)


.wraper
	background-image url("../img/back.jpg")
	background-size cover
	background-repeat no-repeat
	background-position center center

.search
	background-color rgba(black, 0.8)
	.header
		background-color #181f24
		padding 1em
		.title
			margin 0
			color #eaf6f9
			font-size 1.5em
			text-align center
			margin-bottom 0.5em
		.input-content
			display table
			margin auto
			.input
				// font-size 0.8emhttp://192.168.0.106:4000/
				border-radius 50px
				padding 0.5em 2em
				width 200px
				border none
				outline 0
				color #555
	.result
		display none
		
		.tracks-title
			color rgba(white, 0.8)
			// padding 0.5em
		.tracks
			padding 1em
			.track
				border-bottom 1px solid rgba(white, 0.5)
				color rgba(white, 0.8)
				padding 0.5em
				font-size 0.8em
				display table
				.name
					display table-cell
					width 100%
				.ckeck
					// background-color blue
					padding 0.5em
					.fa-check
						display none
				

.player
	background-color rgba(black, 0.8)
	.song
		position relative
		.volume
			position absolute
			padding 1em
			color gray
			// background red
		.bomb
			position absolute
			right 0
			padding 1em
			color gray
			// background green
			span
				margin-right 0.25em
				font-size 0.8em
		.play
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			font-size 4em
			// height 50%
			color rgba(white, 0.5)

		.song-img
			margin 0
			img
				width 100%
				vertical-align top
		.song-info
			position absolute
			bottom 0
			right 0
			left 0
			background-image linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.25) 20%,rgba(0,0,0,0.75))
			padding 0.5em 1em
			// display table
			.content
				display table
				margin-bottom 0.5em
				.name
					color #eaf6f9
					font-size 1.5em
					display table-cell
					width 100%
					// background-color red
				.musicbar
					// display table-cell
			.progress
				font-size 0.75em
				display table
				.time
					color rgba(white, 0.6)
				.bar-content
					display table-cell
					width 100%
					padding 0 1em
					.bar
						// background-color #222
						height 0.5em
						border solid 1px gray

	.playlist
		padding 1em
		.track
			border-bottom 1px solid rgba(white, 0.5)
			color rgba(white, 0.8)
			padding 0.5em
			font-size 0.8em
			display table
			// background yellow
			.name
				display table-cell
				width 100%
				vertical-align middle
				padding-right 0.5em
				// background blue
			.avatar
				width 30px
				margin 0
				// display none
				img
					width 100%
					vertical-align top
					border-radius 50%
	.footer
		background-color #181f24
		text-align center
		font-size 0.8em
		padding 2em 0
		// padding-top 1em
		// padding-bottom 3em
		color rgba(white, 0.6)
		.author
			color rgba(#108d4e, 0.6)
			text-decoration none
			transition color 0.25s
			// margin-right 2em
			&:hover
				color rgba(#1ab667, 0.6)
		// .github
			// color rgba(white, 0.6)

